*,
*:before,
*:after {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: 100%;
  height: 200px; 
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
  background-color: #4aed76;
  margin-left: 2px !important;
  border: 2px solid white;
  border-radius: 13px
}

.textCenter{
  margin: 0;
  position: relative;
  top: 50%;
  text-align: center !important;
  color: white;
  /* -ms-transform: translateY(-50%); */
  transform: translateY(-50%);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: 3px;
}

.nav-right {
  right: 0px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}